<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <script src="/javascripts/jquery.min.js"></script>    
        <script src="/javascripts/bootstrap.min.js"></script>   
        <script src="/javascripts/selectize.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/selectize.bootstrap3.min.css"/>
        <link href="/stylesheets/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"> 
        <title> targil </title> 
    </head>
    <body>    
        <div class="container mt-5 text-center">
            <h1 class="text-center text-success"> התרגיל נוסף בהצלחה! </h1>
            <a  href="/logout"> <button type="button" class="btn btn-danger mt-3"> התנתק </button> </a>
            <a href="/welcom">  <button type="button" class="btn btn-info mt-3"> הוסף תרגיל </button> </a>
        </div>
            
    </body>
</html>
